<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacts</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <style>
      .card {
        border-radius: 1em;
        text-align: center;
        padding: 1em;
      }
      .card:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
      .card img {
        border-radius: 50%;
        width: 70%;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand p-0" href="/">
          <img src="/images/general/SpT.png" alt="logo" width="60" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www.adif.es/inicio"
                target="_blank"
                >Mintransp</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www.aemet.es/es/portada"
                target="_blank"
                >AEMET</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://portal.mineco.gob.es/en-us/Pages/index.aspx"
                target="_blank"
                >Mineco</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://myaccount.google.com/"
                target="_blank"
                >Gmail</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container text-center marg-down">
      <form class="form-box"th:action="@{/admin/addContacts}" method="post">
        <div class="mb-4 my-3">
          <label for="name" class="form-label text-search">Name</label>
          <input
                  type="text"
                  required
                  id="name"
                  name="name"
          />
          <label for="place" class="form-label text-search">Company</label>
          <input
                  type="text"
                  required
                  id="place"
                  name="place"
          />
          <label for="address" class="form-label text-search">Address</label>
          <input
                  type="text"
                  required
                  id="address"
                  name="address"
          />
          <label for="email" class="form-label text-search">Email</label>
          <input
                  type="text"
                  required
                  id="email"
                  name="email"
          />
          <label for="phone" class="form-label text-search">Phone</label>
          <input
                  type="text"
                  required
                  id="phone"
                  name="phone"
          />
          <button type="submit" class="btn btn-success text-btn" >Add</button>
        </div>
      </form>
    </div>

    <table class="container mt-5 text-center">
      <tr>
        <th>id</th>
        <th>Person</th>
        <th>Company</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
      <tr th:each="el:${contacts}" class="alert alert-info mt-2">
        <td th:text="${el.id}">id</td>
        <td th:text="${el.name}">Person</td>
        <td th:text="${el.place}">Company</td>
        <td th:text="${el.address}">Address</td>
        <td th:text="${el.email}">Email</td>
        <td th:text="${el.phone}">Phone</td>
        <td>
          <a th:href="'/admin/contacts/delete/' + ${el.id}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
    </table>
  </body>
</html>
