<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Route</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"
    ></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <style>
      .center {
        text-align: center;
      }
      .card:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
      .card img {
        border-radius: 50%;
        width: 70%;
        margin: auto;
      }
      .form-box {
        box-shadow: 0 3px 20px #d1cdcd;
      }
      .text-search {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #471616;
        font-style: italic;
        font-weight: 600;
      }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand p-0" href="/">
            <img src="/images/general/SpT.png" alt="logo" width="60" />
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin"
                    >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link"
                            href="https://www.adif.es/inicio"
                            target="_blank"
                    >Mintransp</a
                    >
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link"
                            href="https://www.aemet.es/es/portada"
                            target="_blank"
                    >AEMET</a
                    >
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link"
                            href="https://portal.mineco.gob.es/en-us/Pages/index.aspx"
                            target="_blank"
                    >Mineco</a
                    >
                </li>
                <li class="nav-item">
                    <a
                            class="nav-link"
                            href="https://myaccount.google.com/"
                            target="_blank"
                    >Gmail</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>

<table class="container mt-5 text-center my-4">
    <tr>
        <th>id</th>
        <th>City</th>
        <th>Route number</th>
        <th>Km</th>
        <th>Arrival time</th>
        <th>Departure time</th>
    </tr>
    <tr th:each="el:${stops}" class="alert alert-info mt-2">
        <td th:text="${el.id}">id</td>
        <td th:text="${el.station.city}">city</td>
        <td th:text="${el.train}">train</td>
        <td th:text="${el.km}">km</td>
        <td th:text="${el.arrival}">arrival</td>
        <td th:text="${el.departure}">departure</td>
    </tr>
</table>
</body>
</html>