<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org" xmlns:sec="http://wwww.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="#{help}"></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
<!--    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">-->
<!--    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">-->
<!--    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">-->
<!--    <link rel="manifest" href="/images/favicon/site.webmanifest">-->
    <style>
      .form-box {
        box-shadow: 0 3px 20px #d1cdcd;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand p-0" href="/">
          <img src="/images/general/SpT.png" alt="logo" width="60" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/" th:text="#{home}"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" th:text="#{help}"></a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item" sec:authorize="isAnonymous()">
              <a class="nav-link" th:href="@{/login}" th:text="#{login}"></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
              <a class="nav-link" th:href="@{/logout}" th:text="#{logout}"></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
              <a class="nav-link active" th:href="@{/profile}" th:text="#{profile}"></a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
              <a class="nav-link" th:href="@{/admin}" th:text="#{Administration}"></a>
            </li>
          </ul>
        </div>
        <button type="button" class="btn btn-dark" onclick="window.location.href='http://localhost:8080/?localeData=en'">English</button>
        <button type="button" class="btn btn-dark" onclick="window.location.href='http://localhost:8080/?localeData=es'">Español</button>
      </div>
    </nav>

    <div class="container my-5">
      <div class="row row-cols-1 row-cols-md-1 row-cols-lg-3 g-5">
        <div class="col"></div>
        <form class="form-box" action="help/send" method="post">
          <div class="mb-4 my-3">
            <label for="name" class="form-label" th:text="#{FName}"></label>
            <input
              type="text"
              class="form-control"
              required
              minlength="2"
              maxlength="20"
              placeholder="Ivan Ivanov"
              id="name"
              name="name"
            />
          </div>
          <div class="mb-4">
            <label for="contact" class="form-label" th:text="#{EmPh}"></label>
            <input
              type="text"
              class="form-control"
              required
              minlength="5"
              maxlength="20"
              placeholder="user@gmail.com"
              id="contact"
              name="contact"
            />
          </div>
          <div class="mb-4">
            <label for="text" class="form-label" th:text="#{Message}"></label>
            <textarea
              class="form-control"
              id="text"
              name="text"
              required
              minlength="5"
              maxlength="100"
              rows="3"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary my-3" th:text="#{Send}"></button>
        </form>
      </div>
    </div>
  </body>
</html>
